Repository mlaursen/react-md, pull requests merged in 2018-08, with the labels that each got.

#779 Improve accessibility of the Datepicker
  src/js/Pickers/CalendarDate.js
  src/js/Pickers/CalendarMonth.js
  src/js/Pickers/DatePickerContainer.js
  src/js/Pickers/DatePickerHeader.js
  src/js/Pickers/__tests__/CalendarDate.js
  src/js/Pickers/__tests__/CalendarMonth.js
  src/js/utils/chunk.js
Labels: a11y, enhancement, good first contribution

#787 facebookincubator/create-react-app -> facebook/create-react-app
  docs/README.md
  docs/src/components/GettingStarted/Installation/README.md
  docs/src/components/Markdown/__tests__/__snapshots__/MarkdownPage.jsx.snap
  examples/with-create-react-app-custom/README.md
  examples/with-create-react-app/README.md
  examples/with-create-react-app/src/registerServiceWorker.js
  examples/with-react-router-v4/README.md
  examples/with-react-router-v4/src/registerServiceWorker.js
  examples/with-typescript/README.md
  examples/with-typescript/src/registerServiceWorker.ts
Labels: documentation

#789 height needs to support css values in typescript
  src/js/Dialogs/Dialog.d.ts
Labels: bug, typescript

#790 [Autocompletes] Add showUnfilteredData flag to show data on focus without value
  src/js/Autocompletes/Autocomplete.d.ts
  src/js/Autocompletes/Autocomplete.js
  src/js/Autocompletes/__tests__/Autocomplete.js
Labels: enhancement, good first contribution
