Repository mlaursen/react-md, pull requests merged in 2018-09, with the labels that each got.

#794 Better accessibility for Switch SelectionControls
  src/js/SelectionControls/SelectionControl.js
  src/js/SelectionControls/SwitchThumb.js
  src/js/SelectionControls/SwitchTrack.js
  src/js/SelectionControls/__tests__/SwitchThumb.js
  src/js/SelectionControls/__tests__/SwitchTrack.js
Labels: a11y, good first contribution

#795 fix: add the name field for TextFields in the typescript definitions
  src/js/TextFields/TextField.d.ts
Labels: bug, typescript

#797 Add type to calendar date button
  src/js/Pickers/CalendarDate.js
Labels: bug

#800 Release/1.6.x - enhancement: add custom date rendering
  docs/src/components/Components/Pickers/Date/CustomDateRenderingExample.jsx
  docs/src/components/Components/Pickers/Date/CustomDateRenderingExample.scss
  docs/src/components/Components/Pickers/Date/index.jsx
  src/js/Pickers/CalendarDate.js
  src/js/Pickers/CalendarMonth.js
  src/js/Pickers/DatePicker.js
  src/js/Pickers/DatePickerCalendar.js
  src/js/Pickers/DatePickerContainer.d.ts
  src/js/Pickers/DatePickerContainer.js
Labels: enhancement, good first contribution
